body {
	font-family:             -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
							 "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
							 sans-serif;
	-webkit-font-smoothing:  antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin:                  0;
	padding:                 0;
}

main {
	display:               grid;
	grid-template-areas:   "header header header header header header"
						   "main main main main main main"
						   "footer footer footer footer footer footer";
	grid-template-rows:    repeat(7,1fr);
	grid-template-columns: 1fr 4fr;
	font-size:             2vw;
	height:                90vh;

}

.pageHeader {
	grid-area: header;
}

.pageMain {
	grid-area: main;
}

.pageFooter {
	grid-area: footer;
}

footer {
	background: #067EB2;
	color:      #ffffff;
}

main {
	background: rgba(6, 126, 178, 1);
	background: -webkit-linear-gradient(left, rgba(6, 126, 178, 1) 29%, rgba(63, 138, 225, 0.93) 35%, rgba(0, 102, 235, 0.98) 77%, rgba(0, 102, 235, 1) 100%);
	background: -o-linear-gradient(to right, rgba(0, 102, 235, 1) 2%, rgba(0, 102, 235, 0.98) 30%, rgba(6, 126, 178, 1) 60%);
	background: -ms-linear-gradient(to right, rgba(0, 102, 235, 1) 2%, rgba(0, 102, 235, 0.98) 30%, rgba(6, 126, 178, 1) 60%);
	background: linear-gradient(to right, rgba(0, 102, 235, 1) 2%, rgba(0, 102, 235, 0.98) 30%, rgba(6, 126, 178, 1) 60%);
}