body {
	font-family:             -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
							 "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
							 sans-serif;
	-webkit-font-smoothing:  antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin:                  0;
	padding:                 0;
	/*text-shadow: 0px 0px 10px rgba(0,0,0,0.8);*/
	display:                 grid;
	grid-template-areas:     "header"
							 "main"
							 "footer";
	grid-template-rows:      40px 5fr 40px;
	grid-template-columns:   1fr;
	font-size:               2vw;
	height:                  100vh;
	box-sizing:              border-box;
	user-select: none;
}

.pageHeader {
	grid-area: header;
}

.pageMain {
	grid-area: main;
}

.pageFooter {
	grid-area: footer;
}

footer {
	background: #067EB2;
	color:      #ffffff;
}

main {
	background: rgba(6, 126, 178, 1);
	background: -webkit-linear-gradient(left, rgba(6, 126, 178, 1) 19%, rgba(63, 138, 225, 0.93) 25%, rgba(0, 102, 235, 0.98) 67%, rgba(0, 102, 235, 1) 100%);
	background: -o-linear-gradient(to right, rgba(0, 102, 235, 1) 2%, rgba(0, 102, 235, 0.88) 20%, rgba(6, 126, 178, 0.95) 50%);
	background: -ms-linear-gradient(to right, rgba(0, 102, 235, 1) 2%, rgba(0, 102, 235, 0.88) 20%, rgba(6, 126, 178, 0.95) 50%);
	background: linear-gradient(to right, rgba(0, 102, 235, 1) 2%, rgba(0, 102, 235, 0.88) 20%, rgba(6, 126, 178, 0.95) 50%);
}

.pageHeader {
	display:         flex;
	justify-content: center;
	align-items:     center;
	text-transform:  uppercase;
	color:           #ffffff;
	background:      #067EB2;
}

.header__search__input {
	width:               50vw;
	height:              4vh;
	margin:              0 0 0 20px;
	padding:             0 20px 0 20px;
	border:              none;
	outline:             none;
	border-radius:       4px;
	background-image:    url("./img/icon/search (1).svg");
	background-position: 5px 4px;
	background-repeat:   no-repeat;
}

.pageMain {
	display:               grid;
	grid-template-areas:   "country country"
						   "current .";
						   /*"day day"*/
	grid-template-rows:    1fr 3fr;
	grid-template-columns: 2fr 1.5fr;
	align-items:           center;
	text-align:            center;
	color:                 #ffffff;
	grid-gap:              5px;
	background-color:      rgba(46, 45, 71, 0.6);
}

.country {
	grid-area: country;
	margin: 0;
	background: url("./img/weatherImg/light-snow-day.jpg");
	height: 100px;
}

.current {
	grid-area: current;
}

/*.days {
	!*background-color: rgba(46, 45, 71, 0.6);*!

	grid-area: day;
	border-radius: 20px;
}*/

.current {
	border-radius:       20px;
	background-color:    rgba(46, 45, 71, 0.6);
	display: grid;
	grid-template-areas: "date date"
						 "temp description";
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 0.5fr 0.5fr;
}

.current__date {
	grid-area: date;
	margin: 0;
}

.current__temperature {
	grid-area: temp;
}

.current__description {
	grid-area: description;
	display: flex;
	flex-flow: row;
}

.current__date.--day {
	font-size: 2.5vw;
}

.current__date.--date {
	font-size: 2vw;
}

.current__temperature.--avgtemp{
	 margin: 0;
	 font-size: 8vw;
 }

.current__temperature.--temp{
	margin: 0;
	font-size: 4vw;
}

/*

.weekDay {
	display: grid;
	grid-template-areas: 'weekDay_date' 'weekDay__description';
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
}

.weekDay_date {
	grid-area: weekDay_date;
}

.weekDay__description{
	grid-area: weekDay__description;
}
*/





.loader{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: darkslategray;

}